.theme-toggle {
    background: transparent;
    border: 5px solid var(--border-strong);
    color: var(--text);
    padding: 16px 11px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;
    font-size: 30px;
    min-width: 40px;
    height: 40px;
}

.theme-toggle:hover {
    background: #c98703;
    transform: scale(1.05);
    box-shadow: 10px 1px 12px rgba(255, 10, 108, 0.3);
}

.theme-toggle:active {
    transform: scale(1.05);
}

.theme-icon {
    display: block;
    transition: transform 0.6s ease;
}

.theme-toggle:hover .theme-icon {
    transform: rotate(70deg);
}